*{
	margin:0px;
	padding:0px;
	
}

.outblack{
	position:absolute;
	top:50%;
	left:50%;
	width:120px;
	height:120px;
	border:10px solid black;
	border-radius:50%;
	margin-top:-70px;
	margin-left:-70px;
	
}

.outblue{
	position:absolute;
	right:150px;
	width:120px;
	height:120px;
	border:10px solid blue;
	border-radius:50%;
	margin-top:-10px;
	margin-left:-10px;
}

.outred{
	position:absolute;
	left:160px;
	width:120px;
	height:120px;
	border:10px solid red;
	border-radius:50%;
	margin-top:-10px;
	margin-left:-10px;

}

.outyellow{
	position:absolute;
	top:70px;
	right:70px;
	width:120px;
	height:120px;
	border:10px solid yellow;
	border-radius:50%;
	margin-top:-10px;
	margin-left:-10px;

}

.outgreen{
	position:absolute;
	top:70px;
	left:80px;
	width:120px;
	height:120px;
	border:10px solid green;
	border-radius:50%;
	margin-top:-10px;
	margin-left:-10px;

}