*{
	margin:0px;
	padding:0px;
}

.platform{
	position:absolute;
	top:50%;
	left:50%;
	/*border:5px solid black;*/
	height:185px;
	width:380px;
	margin-left:-190px;
	margin-top:-92.5px;
}
/* 分组选择器：简化代码，无其他作用了*/
.circle1, 
.circle2,
.circle3,
.circle4,
.circle5{
	position:absolute;
	width:100px;
	height:100px;
	border:10px solid black;
	border-radius:50%;
}

.circle1{
	border-color:red;
	margin-left:130px;
}

.circle2{
	border-color:yellow;
	margin-left:260px;
}

.circle3{
	border-color:blue;
	margin-left:65px;
	margin-top:65px;
}

.circle4{
	border-color:green;
	margin-left:195px;
	margin-top:65px;
}

.circle5{
	border-color:purple;
}